[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymysql = "*"
flask-bcrypt = "*"
flask-migrate = "*"
flask-wtf = "*"
flask-login = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
email-validator = "*"

[dev-packages]

[requires]
python_version = "3.11"
