{% extends "/shared/layout.html" %}

{% block title %} - Edit Account{% endblock title %}

{% block content %}

<h1 class="display-3 my-5">Edit Account</h1>
<div class="row">
  <div class="col-lg-6 col-md-8 col-sm-12">
    <div class="card shadow">
      <div class="card-body">
        <form action="{{ url_for('auth.edit_account') }}" method="post">
          {{ form.csrf_token }}
          <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input
              type="text"
              name="username"
              id="username"
              value="{{ user.username }}"
              class="form-control text-muted"
              disabled
            />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input
              type="text"
              name="email"
              id="email"
              value="{{ user.email }}"
              class="form-control text-muted"
              disabled
            />
          </div>
          <div class="mb-3">
            {{ form.location.label(class="form-label") }}
            {{ form.location(class="form-control", value=user.location if user.location else '') }}
              {% if form.location.errors %}
                <span class="form-text text-warning">
                  {% for error in form.location.errors %}
                    {{ error }}
                  {% endfor %}
                </span>
              {% endif %}
          </div>
          <div class="mb-3">
            {{ form.blurb.label(class="form-label") }}
            <textarea
              name="blurb"
              id="blurb"
              class="form-control">{{ user.blurb if user.blurb else '' }}</textarea>
              {% if form.blurb.errors %}
                <span class="form-text text-warning">
                  {% for error in form.blurb.errors %}
                    {{ error }}
                  {% endfor %}
                </span>
              {% endif %}
          </div>
          <div class="text-end">
            <input type="submit" value="Edit Account" class="btn btn-primary" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}