<ul class="navbar-nav ms-auto">
  <li class="nav-item">
    <div class="dropdown">
      <button
        class="btn dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false">
        <img
          class="menu-avatar rounded-circle"
          alt="{{ user.username }}"
          src="{{ url_for('static', filename='/images/' + user.avatar) }}"
        />
      </button>
      <ul class="dropdown-menu dropdown-menu-end">
        <li class="dropdown-item text-muted">
          {{ user.email }}
        </li>
        <li>
          <a
            class="dropdown-item"
            href="{{ url_for('auth.logout') }}">
            Your Profile
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            href="{{ url_for('auth.logout') }}">
            Logout
          </a>
        </li>
      </ul>
    </div>
  </li>
</ul>
